<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:mediaUtils="http://typo3.org/ns/Madj2k/MediaUtils/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:comment>
		<!-- usage:
			<f:render partial="Media"
					  arguments="{file: file, src: 'alternatively/used/text/path.jpg', caption: file.description,
					            textOverlay: 'Overlay Text', wrapClass:'media-wrap', class:'media', classInner: 'inner',
					            classInnerImage: 'inner-image', classInnerVideo: 'inner-video', aspectRatio: 1,
					            settings: settings, settingsVariant: 'default'}" />
		-->
	</f:comment>

	<f:if condition="{file}">
        <f:then>
            <f:variable name="type"><mediaUtils:file.getProperty file="{file}" property="type" /></f:variable>
            <f:switch expression="{type}">

                <!-- Image -->
                <f:case value="2">
                    <f:render section="Image" arguments="{_all}" />
                </f:case>

                <!-- Video -->
                <f:case value="4">
                    <f:render section="Video" arguments="{_all}" />
                </f:case>

                <f:defaultCase>
                    <f:comment><!-- Nothing to do here --></f:comment>
                </f:defaultCase>
            </f:switch>
        </f:then>
        
        <f:else>
            <f:comment><!-- if src given instead of file or we try to load the fallback --></f:comment>
            <f:render section="Image" arguments="{_all}" />
        </f:else>
	</f:if>



    <f:comment><!-- ================================================================================== --></f:comment>

    <f:section name="Image">

        <f:comment><!-- Do some mapping if default settings for the video are given --></f:comment>
        <f:for each="{1: 'loading', 2: 'fallback'}" as="variable">
            <f:if condition="{settingsVariant}">
                <f:then>
                    <f:variable name="{variable}">{f:if(condition: '{{variable}}', then: '{{variable}}', else: '{settings.media.{settingsVariant}.image.{variable}}')}</f:variable>
                </f:then>
                <f:else>
                    <f:variable name="{variable}">{f:if(condition: '{{variable}}', then: '{{variable}}', else: '{settings.media.image.{variable}}')}</f:variable>
                </f:else>
            </f:if>
        </f:for>

        <f:for each="{0: 'width', 1: 'height', 2: 'maxWidth', 3: 'maxHeight'}" as="variable">
            <f:if condition="{settingsVariant}">
                <f:then>
                    <f:variable name="{variable}">{f:if(condition: '{{variable}}', then: '{{variable}}', else: '{settings.media.{settingsVariant}.image.dimensions.{variable}}')}</f:variable>
                </f:then>
                <f:else>
                    <f:variable name="{variable}">{f:if(condition: '{{variable}}', then: '{{variable}}', else: '{settings.media.image.dimensions.{variable}}')}</f:variable>
                </f:else>
            </f:if>
        </f:for>

        <f:if condition="!{file} && !{src}"><f:variable name="src" value="{fallback}" /></f:if>
        <f:render partial="Utils/Media/Image" arguments="{_all}" />

    </f:section>

    <f:comment><!-- ================================================================================== --></f:comment>

    <f:section name="Video">

        <f:comment><!-- Do some mapping if default settings for the video are given --></f:comment>
        <f:for each="{1: 'loading', 2: 'additionalConfig'}" as="variable">
            <f:if condition="{settingsVariant}">
                <f:then>
                    <f:variable name="{variable}">{f:if(condition: '{{variable}}', then: '{{variable}}', else: '{settings.media.{settingsVariant}.video.{variable}}')}</f:variable>
                </f:then>
                <f:else>
                    <f:variable name="{variable}">{f:if(condition: '{{variable}}', then: '{{variable}}', else: '{settings.media.video.{variable}}')}</f:variable>
                </f:else>
            </f:if>
        </f:for>
        <f:for each="{0: 'width', 1: 'height', 2: 'maxWidth', 3: 'maxHeight'}" as="variable">
            <f:if condition="{settingsVariant}">
                <f:then>
                    <f:variable name="{variable}">{f:if(condition: '{{variable}}', then: '{{variable}}', else: '{settings.media.{settingsVariant}.video.dimensions.{variable}}')}</f:variable>
                </f:then>
                <f:else>
                    <f:variable name="{variable}">{f:if(condition: '{{variable}}', then: '{{variable}}', else: '{settings.media.video.dimensions.{variable}}')}</f:variable>
                </f:else>
            </f:if>
        </f:for>

        <f:render partial="Utils/Media/Video" arguments="{_all}" />

    </f:section>
</html>


