<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:sms="http://typo3.org/ns/Sitegeist/ResponsiveImages/ViewHelpers"
	  data-namespace-typo3-fluid="true">

    <f:if condition="{file}">
        <figure class="video {wrapClass}">
            <div class="video-inner {classInner} {classInnerVideo}">
                <f:render section="Inner" arguments="{_all}" />
            </div>

            <f:if condition="{caption}">
                <figcaption class="video-caption">{caption}</figcaption>
            </f:if>
        </figure>
    </f:if>

    <f:comment><!-- ================================================================================== --></f:comment>

    <f:section name="Inner">
        <f:if condition="{file}">
            <f:media file="{file}"
                     height="{height}"
                     width="{width}"
                     alt="{file.alternative}"
                     title="{file.title}"
                     class="{class}"
                     additionalConfig="{additionalConfig}" />
        </f:if>
    </f:section>
</html>
